:erb
!!!
%html
  %head
    %title title
    = javascript_include_tag 'ckeditor/ckeditor.js'
    = stylesheet_link_tag 'text.css', :media => 'screen, projection'
    = stylesheet_link_tag 'grid.css', :media => 'screen, projection'
    = stylesheet_link_tag 'default.css', :media => 'screen, projection'
    = stylesheet_link_tag 'menu_dmp.css', :media => 'screen, projection'
    = csrf_meta_tag
    :plain
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
  %body
    %script{:type => "text/javascript", :charset => "utf-8"}
      :plain
        //<![CDATA[
        $(document).ready(function() {
        if ($('textarea').length > 0) {
        var data = $('textarea');
        $.each(data, function(i) {
        CKEDITOR.replace(data[i].id);
        });
        }
        });
        //]]>
    .dmp
      .container_12
        .grid_12
          .grid_2.alpha
            %img.dmp(src="/images/dmp_logo_beta.png" alt="Welcome to the DMP Tool")
          .grid_10.omega
            %h1.dmp1
              = "DMP"
            %h1.dmp2
              = "TOOL"
            %a.dmpend(href="http://www.ucla.edu") Logout
            %a.dmpmiddle(href="http://www.ucla.edu") Sign Up
            %a.dmpstart(href="http://www.ucla.edu") Contact Us
          .grid_10.omega
            .grid_6.alpha
              %p.dmp
                = "Guidance and resources for writing data management plans"
            .grid_4.omega
              %p.right_dmp
                = "Welcome Dr. Joe Bruin"
        .clear
        .grid_12
          .info
            .menu
              <ul>
              <li>
              <a href="/">Home<!--[if gte IE 7]><!--></a>
              <!--<![endif]--><!--[if lte IE 6]><table><tr><td><![endif]-->
              </li>
              <li>
              <a href="#">About DMP Tool<!--[if gte IE 7]><!--></a>
              <!--<![endif]--><!--[if lte IE 6]><table><tr><td><![endif]-->
              <ul>
              <li>
              <a href="#">Background of project</a>
              </li>
              <li>
              <a href="#">Partner institutions</a>
              </li>
              </ul>
              </li>
              <li>
              <a href="../menu/index.html">DMP News<!--[if gte IE 7]><!--></a>
              <!--<![endif]--><!--[if lte IE 6]><table><tr><td><![endif]-->
              </li>
              <li>
              <a href="#">My Plans<!--[if gte IE 7]><!--></a>
              <!--<![endif]--><!--[if lte IE 6]><table><tr><td><![endif]-->
              </li>
              <li>
              <a href="#">Help<!--[if gte IE 7]><!--></a>
              <!--<![endif]--><!--[if lte IE 6]><table><tr><td><![endif]-->
              <ul>
              <li>
              <a href="#">(Help with DMPTool)</a>
              </li>
              <li>
              <a href="#">Funder Requirements</a>
              </li>
              <li>
              <a href="#">Sample Plans</a>
              </li>
              <li>
              <a href="#">Video Demo</a>
              </li>
              </ul>
              </li>
              </ul>
        .clear
        .grid_12
          %h2.dmp
            = "Sign up for the DMP Tool"
        .clear
        .grid_6.alpha
          = yield
        .grid_4.push_1.alpha
          .grid_4
            %h3.dmp2
              = "Login Info"
          .grid_4
            %p.col
              = "Anyone is welcome to use this tool to create a data management plan."
            %p.col
              = "If you are affiliated with one of the partner institutions, select you institution to get additional help, links to local resources and contact information."
        .clear